input {
    border: none;
    border-radius: 10px;
    font-size: 4rem;
    padding: 16px;
    padding-left: 4px;
    text-align: right;
    appearance: none;
    width: 100%;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}